.position-icon-buttons {
    margin-right: .25rem;
    margin-bottom: .5rem;
}

.edit-button {
    margin-left: .5rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: .5rem;
}